.main {
  background-size: 100%;
  background-image: url("../Img/background.jpg");   
  #carroDeCompras{
    p{
      color:tomato;
    }
  }
  .separador {
    height: 1em;
    background-image: url("../Img/separador-kada-01-2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #contenedor{
    justify-content: space-around;
    
  }
  h1{
    color: tomato;
  }
  .col{    
    margin-bottom: 1em;    
  } 
  
}
