@import "./partials/header";
@import "./partials/main";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Allerta Stencil', sans-serif;
    

    letter-spacing: .0625rem;
}